/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Header*/
/*Estilos header*/
.header .navbar .navbar-toggler {
  padding: 1px 5px;
  font-size: 1rem;
  line-height: 0.3;
  background-color: orange; }

.header .navbar .nav-item a {
  color: whitesmoke !important; }

.header .navbar .nav-item:hover {
  color: black;
  background-color: orange;
  color: black;
  border-radius: 1rem;
  transition: background-color 1s; }

/*main */
main {
  /*HTML Sucursales*/ }
  main .titulo-index {
    text-align: justify;
    margin-left: 10%;
    text-transform: uppercase;
    font-weight: 700; }
    @media screen and (max-width: 500px) {
      main .titulo-index {
        text-align: center; } }
  main .parrafo-descriptivo {
    width: 400px;
    margin-left: 10%;
    font-weight: 400;
    font-size: 1.2rem;
    color: black; }
    @media screen and (max-width: 500px) {
      main .parrafo-descriptivo {
        text-align: center; } }
  main .contenedor-img {
    height: 60vh; }
  main .imagen-principal {
    object-fit: cover;
    height: 500px;
    position: relative;
    left: 30%;
    bottom: 40%; }
    @media screen and (max-width: 500px) {
      main .imagen-principal {
        width: 350px;
        height: 300px;
        top: 10%;
        left: 15%; } }
    @media screen and (max-width: 800px) {
      main .imagen-principal {
        width: 350px;
        height: 300px;
        top: 10%; } }
  main h1 {
    font-size: 2rem;
    text-align: center;
    color: black;
    margin: 2rem;
    font-weight: 800; }
  main .contenedor-texto {
    margin: 4rem; }
    main .contenedor-texto h1 {
      font-size: 2rem;
      font-weight: 800; }
    main .contenedor-texto p {
      font-size: 1.2rem; }
  main .button {
    font-size: 1rem;
    color: black;
    padding: 3rem; }
  main .productos__contenedor {
    text-align: center; }
    main .productos__contenedor h1 {
      font-weight: 800;
      font-size: 2rem; }
  main .productos__orden {
    display: inline-block;
    text-align: justify;
    align-items: end;
    color: black;
    padding: 1rem; }
  main .card img {
    object-fit: cover; }
  main .contacto__container {
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black; }
    main .contacto__container legend {
      margin: 10px 0; }
  main .contacto__nombre {
    margin: 20px 0px; }
  main .contacto__email {
    margin: 20px 0px; }
  main .contacto__botones {
    text-align: center; }
  main .contenedor-sucursales {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px; }
    @media screen and (max-width: 540px) {
      main .contenedor-sucursales {
        grid-template-columns: 1fr;
        gap: 0; } }
    @media screen and (max-width: 800px) {
      main .contenedor-sucursales {
        grid-template-columns: 2fr;
        gap: 0; } }
  main .tienda {
    text-align: center; }
    main .tienda iframe {
      width: 300px;
      height: 300px; }

.footer {
  text-align: center;
  margin-top: 2rem; }
  .footer .copyright {
    font-size: 1rem;
    color: black; }
  .footer .arriba01 {
    font-size: 1rem;
    text-decoration: none;
    color: black; }
  .footer .iconos__icon {
    height: 2rem;
    margin: 1rem 1rem; }

main .button__color, main .contacto__botones input {
  color: white;
  border-radius: 100px;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: black; }

/*estilos generales*/
body {
  height: 100vh !important;
  font-family: 'Castoro Titling', cursive;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(45deg, #ffd700, #ffa500);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.logo {
  color: whitesmoke;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 800; }
