//paleta de colores background
$color-bg-principal:linear-gradient(45deg, #ffd700, #ffa500);
$color-bg-secundario:orange;
//paleta de colores textos
$color-texto-principal:black;
$color-texto-secundario:orange;
$color-texto-terciario:whitesmoke;
